apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic-deploy
  namespace: twoplusone
  labels:
    app: petclinic
spec:
  replicas: 2
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
        - name: petclinic
          image: moon2000/spring-petclinic:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              protocol: TCP
